ssi-bot.ini
/praw.ini
bot-db.sqlite3*
pushshift.sqlite3*
models/*
model_finetuning/json_data/*
model_finetuning/*.sqlite3
model_finetuning/dataset.ini
model_finetuning/training_output*
cache_dir/*
sql_conf.ini
sql_conf_mod_ro.ini
db_SQL_Commands.txt
csv_export/*
sub_log_to_csv/csv_export/*
*.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode/launch.json
.idea/
*.sqlite3-wal
*.sqlite3
sql_conf.ini

manual_tools/db_sqlite,py
